<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato - Portfólio João</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleconta.css') }}">

</head>
<body>
    <header>
        <nav>
            <a class="logo" href="/"> &lt;/&gt</a>
            <ul class="nav-list">
                <li><a href="/">Início</a></li>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/contatos">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="contact-section">
            <h1>Entre em Contato</h1>
            <p>Estou sempre aberto a novas oportunidades e colaborações. Se você tiver alguma pergunta ou quiser discutir um projeto, sinta-se à vontade para entrar em contato comigo!</p>

            <div class="contact-info">
                <h2>Informações de Contato</h2>
                <p><strong>Email:</strong> jpbrandli45@gmail.com</p>
                <p><strong>Telefone:</strong> (19) 99328-8922</p>
                <p><strong>Redes Sociais:</strong></p>
                <ul>
                    <li><a href="https://www.linkedin.com/in/joao-pedro-klinke-brandli-bb2a872a2/" target="_blank">LinkedIn</a></li>
                    <li><a href="https://github.com/draxiz2?tab=repositories" target="_blank">GitHub</a></li>
                </ul>
            </div>


        </section>
    </main>

</body>
</html>
